<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Technova_Mailchimp_Services.Configs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Technova_Mailchimp_Services.Configs>
            <setting name="IVG_Connection" serializeAs="String">
                
            </setting>
            <setting name="TimeTemplateAsync" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>IVG</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>141 Hoàng Quốc Việt</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Hà Nội</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Hà Nội</value>
            </setting>
            <setting name="Zip" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FromName" serializeAs="String">
                <value>IVG</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>nghipx@ivg.vn</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>Vietnam</value>
            </setting>
            <setting name="Phone" serializeAs="String">
                <value>0965862648</value>
            </setting>
            <setting name="PermissionReminder" serializeAs="String">
                <value>You are receiving this email because you opted in via our website.</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Address2" serializeAs="String">
                <value>134/1 CMT8, Q3, HCM</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>IVG</value>
            </setting>
            <setting name="TimeScanData" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="TimeReportAsync" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="TimeScanEmailActivities" serializeAs="String">
                <value>60000</value>
            </setting>
        </Technova_Mailchimp_Services.Configs>
    </userSettings>
</configuration>